<div class="container">
    <div class="row" style="padding-top: 5em;">
        <div class="col" style="text-align:center; margin: auto;">
            <h1>Welcome to Lego Tracker!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:center; margin: auto;">
            <h3>We're still in beta, but feel free to have a look around</h3>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align:center; margin: auto;">
            <img src="https://i.ebayimg.com/images/g/yRgAAOSwx7hedPZH/s-l1600.jpg" alt="Construction Minifig" style="max-width: 100%;">
        </div>
    </div>